@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css");
:root {
    --main_color : #cf9b0e ;
    --p_color : #735607 ;
    --bg_color : #F3F3F3 ;
    --white_color : #fff ;
    --color_heading : #121416 ;
    --boder_color : #e5e5e5d5 ;
    --Sale_color : #e68e0b ;
}
.checkout {
    margin: 100px 0;
    padding-bottom: 50px;
}
.checkout .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.orders {
    width: 45%;
    padding:  0 20px;
    border: 1px solid var(--boder_color);
    border-radius: 5px;
    box-shadow: 0px 8px 10px #c0bfbf44;
}
.inpusts input {
    color: #121416;
}
.orders h1 {
    border-bottom: 1px solid var(--boder_color);
    padding: 20px 0;
    margin-bottom: 20px;
    color: var(--main_color);
}
.orders .items {
    height: 350px;
    overflow: auto;
}
.orders .item_cart {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    height: 125px;
    border-bottom: 1px solid var(--boder_color);
    padding-right: 20px;
}
.orders .item_cart:last-child {
    border-bottom: none;
}
.orders .image_name {
    display: flex;
    align-items: center;
    gap: 20xp;
}
.orders .image_name img {
    width: 100px;
    padding-right: 15px;
}
.orders .image_name h4 {
    margin-bottom: 10xp;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.orders .delete_item {
    background: transparent;
}
.orders .delete_item i {
    background: transparent;
    font-size: 22px;
    cursor: pointer;
    transition: 0.3s;
}
.orders .delete_item:hover i {
    color: red;
    scale: 1.1;
}
.orders .quantity_control {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 5px;
}
.orders .quantity_control span {
    font-size: 18px;
    min-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--bg_color);
    padding: 3px 0;
}
.orders .quantity_control button {
    width: 27px;
    height: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 20px;
    border-radius: 2px;
    border: 1px solid var(--boder_color);
}
.orders .bottom_sum {
    border-top: 1px solid var(--boder_color);
    padding-top: 25px;
}
.shop_table {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.shop_table p {
    font-size: 20px;
    color: var(--color_heading);
    text-transform: capitalize;
}
.shop_table span {
    font-weight: bold;
    font-size: 20px;
}
.orders .button_div {
    border-top: 1px solid var(--boder_color);
    padding: 30px;
}
.button_div button {
    width: 100%;
    background: var(--main_color);
    color: var(--white_color);
    border: 2px solid var(--main_color);
    padding: 15px 0;
    outline: none;
    border-radius: 3px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.button_div button:hover {
    background: transparent;
    color: var(--main_color);
}
.checkout .input_info {
    width: 45%;
}
.checkout .input_info h2 {
    padding: 10px 20px;
    background: var(--main_color);
    text-transform: capitalize;
    color: var(--white_color);
}
.checkout .input_info .address,
.checkout .input_info .coupon {
    margin-bottom: 25px;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid var(--boder_color);
    box-shadow: 0px 8px 10px #c0bfbf44;
}
.checkout .input_info .coupon .btn_coupon {
    text-align: center;
    padding-bottom: 20px;
}
.btn_coupon button {
    width: 50%;
    background: var(--main_color);
    color: var(--white_color);
    border: 2px solid var(--main_color);
    padding: 12px 0;
    outline: none;
    border-radius: 2px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.btn_coupon button:hover {
    background: transparent;
    color: var(--main_color);
}
.inpusts {
    display: flex;
    flex-direction: column;
    padding: 15px 20px;
}
.inpusts label {
    color: var(--color_heading);
    font-size: 14px;
    text-transform: capitalize;
}
.inpusts input {
    margin: 8px 0 22px;
    padding: 15px 10px;
    outline: none;
    border: 1px solid var(--boder_color);
    border-radius: 5px;
    transition: 0.3s;
}
.inpusts input:focus {
    border-color: var(--main_color);
}