@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css");
:root {
    --main_color : #cf9b0e ;
    --p_color : #735607 ;
    --bg_color : #F3F3F3 ;
    --white_color : #fff ;
    --color_heading : #121416 ;
    --boder_color : #e5e5e5d5 ;
    --Sale_color : #e68e0b ;
}
body {
    background-color: var(--main_color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.auth-container {
    background: var(--bg_color);
    border: 2px solid var(--color_heading);
    border-radius: 15px;
    box-shadow: 0 6px 20px rgba(0,0,0,0.1);
    width: 400px;
    padding: 100px;
    text-align: center;
}
.auth-container img {
    width: 100px;
    margin-bottom: 20px;
}
h2 {
    color: var(--color_heading);
    font-family: "DM Sans", sans-serif;
    margin-bottom: 10px;
}
.auth-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
}
.auth-form input {
    padding: 12px 15px;
    border: 1px solid var(--boder_color);
    border-radius: 8px;
    font-size: 15px;
}
.auth-form input:focus {
    border-color: var(--main_color);
    box-shadow: 0 0 5px rgba(207,155,14,0.4);
}
.auth-form button {
    background-color: var(--main_color);
    color: var(--white_color);
    padding: 12px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}
.auth-form button:hover {
    background: var(--p_color);
    transform: scale(1.03);
}
.auth-footer {
    margin-top: 20px;
    font-size: 14px;
    color: var(--p_color);
}
.auth-footer a {
    color: var(--main_color);
    text-decoration: none;
    font-weight: 600;
}
.auth-footer a:hover { text-decoration: underline; }
.eye {
    position: relative;
    cursor: pointer;
    color: var(--main_color);
}
.fa-eye-slash ,
.fa-eye {
    position: absolute;
    right: 15px;    
    top: -44px;
}