 
/* ======= Store at 1024px ======= */
@media (max-width: 1024px) {
  header {
    padding: 10px 0;
  }

  header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
     
    width: 100%;
    margin: 0 auto;
  }

  .logo-header {
     margin: 20px;
  }

  .search-box {
    flex: 1;
    max-width: 600px;
    display: flex;
    align-items: center;
    margin: 0 auto;
  }

  .search-box select {
    width: 120px;
    font-size: 14px;
  }

  .search-box input {
    flex: 1;
    height: 40px;
    font-size: 14px;
    padding: 6px 10px;
  }

  .search-box button {
    width: 44px;
    height: 40px;
    font-size: 16px;
  }
  .header_icons {
    display: flex;
    align-items: center;
    gap: 16px;
    font-size: 18px;
  }

  .header_icons .icon {
    transform: scale(0.9);
  }

  .bottom_header {
    margin-top: 6px;
    padding: 0 25px;
  }
  .row {
    gap: 20px;
  }
  .footer-bottom {
    margin-top: 0;
  }
  .nav_links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;
  }

  .nav_links a {
    font-size: 15px;
    padding: 6px 10px;
  }

  .category_nav {
    width: auto;
  }

  .category_nav > button {
    padding: 8px 14px;
    font-size: 15px;
  }

  header img,
  header input,
  header button,
  header select {
    max-height: 45px;
  }
  .label {
    margin: auto;
  }
  .blog-hero h1 {
    font-size: 40px;
  }
  #form_contact .container {
    padding-top: 1px;
    
  }
  .coupon h2 {
    font-size: 20px;
  }
  
}
/* =============Continue Soon============== */
